.page {
    width: 147.5mm;
    height: 201.5mm;
    padding: 0pt;
    margin: 0pt;
    display: inline-block;
    /*    
    border-color: aliceblue;
    border-width: 1px;
    border-style: solid;
    */
}

.content {
    height: 198mm;
    padding-left: 0.5cm;
    padding-right: 0.5cm;
}


.number {
    padding: 0pt;
    margin: 0pt;
    height: 6mm;
    vertical-align: text-bottom;
    text-align: center
}
