@inject IStringLocalizer<App> Localizer

<div class="duty frame">

    <div style="text-align: center" class="duty content">@Localizer["BlankPage"]</div>

    <div class="duty pagenumber">
        - @PageNumber -
    </div>
</div>

@code {
    [Parameter]
    public int PageNumber { get; set; }

}
