@inject IStringLocalizer<App> Localizer

<A5Page PageNumber=PageNumber>

    <div style="text-align: center" class="duty content">@Localizer["BlankPage"]</div>

</A5Page>

@code {
    [Parameter]
    public int PageNumber { get; set; }

}
