@using Markdig
@inject IStringLocalizer<App> Localizer

<A5Page PageNumber=PageNumber>
    <h1>@Localizer["Instructions"]</h1>
    @if (MarkdownContent != null)
    {
        <div class="instructions">
            @((MarkupString)Markdown.ToHtml(MarkdownContent))
        </div>
    }
</A5Page>

@code {
    [Parameter]
    public int PageNumber { get; set; }
    [Parameter]
    public string? MarkdownContent { get; set; }
}
