.frontpage {
    text-align: center;
    font-size: 28pt;
}

.schedulename {
    font-weight: 900;
    color: darkolivegreen;
}

.validity {
    color: darkred;
    font-weight: bold;
}

.printtime {
        padding-top: 2cm;
    font-size: 12pt;
}

.duty {
    text-align: center;
    padding-top: 0.3cm;
}

    .duty.number {
        line-height: 4cm;
        font-weight: 900;
        color: cadetblue;
        font-size: 144pt;
    }

    .duty.days {

    }

    .duty.description {
        font-size: 22pt;
    }

    .duty.difficulty {
        font-size: 22pt;
    }

    .duty.time{

    }


.validity {
    text-align: center;
    font-size: 16pt;
    margin-top: 4pt;
}
