@using Markdig
@inject IStringLocalizer<App> Localizer

<A5Page PageNumber=PageNumber>
    <div class="markdown">
        <h1>@Localizer["Instructions"]</h1>
        @if (MarkdownContent != null)
        {
            @((MarkupString)Markdown.ToHtml(MarkdownContent))
        }
    </div>
</A5Page>

@code {
    [Parameter]
    public int PageNumber { get; set; }
    [Parameter]
    public string? MarkdownContent { get; set; }
}
