@inject IStringLocalizer<App> Localizer

<A5Page PageNumber=PageNumber Footnote="@Duty?.Description()">
    @foreach (var part in DriverDutyParts)
    {
        <DutyTrain Duty="Duty" Item="part" />
    }

    @if (Last?.IsLastPart == true)
    {
        <div class="duty ends">@Localizer["NoMoreTasksInDuty"]</div>

    }
    else if (Last?.IsLastPart == false)
    {
        <div class="duty continuenextpage">@Localizer["DutyContinuesOnNextPage"]</div>
    }
</A5Page>

@code {
    [Parameter] public int PageNumber { get; set; }
    [Parameter] public DriverDutyPart? Part1 { get; set; }
    [Parameter] public DriverDutyPart? Part2 { get; set; }
    [Parameter] public required IEnumerable<DriverDutyPart> DriverDutyParts { get; set; }
    [Parameter] public DriverDuty? Duty { get; set; }

    DriverDutyPart? Last => DriverDutyParts.Any() ? DriverDutyParts.Last() : null;

    public override string ToString() => $"Page {PageNumber} duty {Part1?.Train.Number}";

}
