@using Markdig
@inject IStringLocalizer<App> Localizer

<A5Page PageNumber=PageNumber>
    <div class="markdown">
        <h1>@HeadingText</h1>
        <strong>@GeneralNote</strong>
        @MarkdownContent.ToHtml()
    </div>
</A5Page>

@code {
    [Parameter]
    public int PageNumber { get; set; }
    [Parameter]
    public string? MarkdownContent { get; set; }
    [Parameter]
    public string? Heading { get; set; }
    [Parameter] 
    public DriverDuty? Duty { get; set; }
    [Parameter]
    public string? GeneralNote { get; set; }

    string HeadingText => Heading.HasValue() ? Heading : Localizer["Instructions"];

}
