.graphictimetable {
}

    .graphictimetable.heading {
        padding-top: 0.2cm;
        text-align: center;
        font-weight: bold;
        font-size: 36pt
    }

    .graphictimetable.station {
        font-weight: bold;
        font-size: 16pt;
    }

    .graphictimetable.hour {
        font-weight: bold;
        font-size: 24pt;
        line-height: 32pt;
    }

    .graphictimetable.train {
        font-weight: bold;
        font-size: 10pt;
        line-height: 12pt;
        padding-bottom: 5px;
    }

    .graphictimetable.tracknumber {
        font-size: 8pt;
        font-weight: bold;
    }
