
.schedule {
    font-weight: 500;
}

    .schedule.header {
        line-height: 17pt;
        font-size: 13pt;
    }

    .schedule.item {
        line-height: 11pt;
        font-size: 10pt;
    }

    .schedule.alert {
        margin: 0px;
        padding: 0px;
        font-size: 11pt;
        line-height: 12pt;
        color: red;
    }

.spare {
    color: red;
}

svg {
    stroke-width: 5;
    z-index: -2;
    position: absolute;
    height: 90mm;
    width: 50mm;
}
