.waybill {
    line-height: 14pt;
    font-weight: 600;
}

    .waybill.label {
        font-size: 7pt;
    }

    .waybill.destination {
        background-color: lightyellow;
    }

    .waybill.box {
        height: 12mm;
        border: 2px solid red;
    }

    .waybill.name {
        font-weight: bold;
        font-size: 14pt;
        line-height: 18pt;
        width: 48mm;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .waybill.shipper {
        font-weight: bold;
        font-size: 12pt;
        width: 48mm;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .waybill.flag {
        vertical-align: text-bottom;
    }

    .waybill.item {
        font-weight: bold;
        font-size: 12pt;
    }

    .waybill.instruction {
        font-weight: normal;
        font-size: 11pt;
    }
