@using Tellurian.Trains.Planning.App.Client.Components
@page "/blockdestinations"
@layout PrintLayout
@inject IStringLocalizer<App> Localizer
@inject PrintedReportsService DataService
@inject IOptions<AppSettings> Options


@if (Items == null)
{
    <div class="print creatingreport">@Localizer["CreatingReport"]</div>
}
else
{
    <RefreshButton OnClick="OnInitializedAsync" />

    <div>
        @foreach (var item in Items.OrderBy(i => i.OriginStationName))
        {
            <BlockDestinationsItem BlockDestinations="item" ReverseBlockDestinations=false></BlockDestinationsItem>
            <BlockDestinationsItem BlockDestinations="item" ReverseBlockDestinations=true></BlockDestinationsItem>
        }
    </div>
}

@code {
    private IEnumerable<Contracts.BlockDestinations>? Items;

    protected async override Task OnInitializedAsync()
    {
        var settings = Options.Value;
        Items = null;
        var result = await DataService.GetBlockDestinationsAsync(settings.LayoutId);
        Items = result.items;
    }
}
