@using Tellurian.Trains.Planning.App.Client.Components
@page "/blockdestinations"
@layout PrintLayout
@inject IStringLocalizer<App> Localizer
@inject Services.PrintedReportsService DataService

<h1>BlockDestinations</h1>
@if (Items == null)
{
    <div class="print creatingreport">@Localizer["CreatingReport"]</div>
}
else
{
    @foreach (var item in Items)
    {
        <BlockDestinationsItem BlockDestinations="item"></BlockDestinationsItem>
    }
}

@code {
    private IEnumerable<Contract.BlockDestinations>? Items;

    protected async override Task OnInitializedAsync()
    {
        var result = await DataService.GetBlockDestinations(Constants.LayoutId);
        Items = result.items;
    }
}
