@page "/graphictimetables"
@layout PrintLayout
@inject IStringLocalizer<App> Localizer
@inject NavigationManager Navigator
@inject PrintedReportsService DataService

@if (!DataIsReady)
{
    <div class="print creatingreport">@Localizer["CreatingReport"]</div>
}
else
{
    foreach (var timetableStretch in TimetableStretches)
    {
        <GraphicTimetableStretch Data="@timetableStretch"></GraphicTimetableStretch>
    }
}

@code {
    private TimetableStretch[] TimetableStretches = Array.Empty<TimetableStretch>();
    private bool DataIsReady = false;
    private string? SelectedStretch;

    protected async override Task OnInitializedAsync()
    {
        SetQueryStringParameters();
        DataIsReady = false;
        var result = await DataService.GetTimetableStretches(Constants.LayoutId, SelectedStretch);
        if (result.statusCode.IsSuccess())
        {
            TimetableStretches = result.items.ToArray();
        }
        DataIsReady = true;
    }

        void SetQueryStringParameters()
    {
        var q = Navigator.QueryString();
        SelectedStretch = q["line"];
    }


}
