@page "/locoschedules"
@layout PrintLayout
@inject IStringLocalizer<App> Localizer
@inject NavigationManager Navigator
@inject Services.PrintedReportsService DataService
@inject IOptions<AppSettings> Options


@if (Items == null)
{
    <CreatingReport />
}
else
{
    <RefreshButton OnClick="OnInitializedAsync" />

    @foreach (var itemsOnPage in Items.ItemsPerPage(10))
    {
        <div class="pagebreak">
            @foreach (var item in itemsOnPage)
            {
                <VehicleScheduleCard Item="@item"></VehicleScheduleCard>
            }
        </div>
    }
}

@code {
    string? Operators { get; set; }
    private IEnumerable<LocoSchedule>? Items { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var settings = Options.Value;
        Items = null;
        var result = await DataService.GetLocoSchedulesAsync(settings.LayoutId);
        if (result.statusCode.IsSuccess())
        {
            var items = result.items.Where(i => i.ReplaceOrder == 0);
            SetQueryStringParameters();
            Items = items.Where(i => string.IsNullOrWhiteSpace(Operators) || i.Operator.EqualsAny(Operators));
        }
    }

    void SetQueryStringParameters()
    {
        var q = Navigator.QueryString();
        Operators = q["operator"];
    }
}
