@using Tellurian.Trains.Planning.App.Client.Components
@page "/locoschedules"
@layout PrintLayout
@inject IStringLocalizer<App> Localizer
@inject Services.PrintedReportsService DataService


@if (Items == null)
{
    <div class="print creatingreport">@Localizer["CreatingReport"]</div>
}
else
{
    @foreach (var itemsOnPage in Items.ItemsPerPage(10))
    {
        <div class="pagebreak">
            @foreach (var item in itemsOnPage)
            {
                <VehicleScheduleCard Item="@item"></VehicleScheduleCard>
            }
        </div>
    }
}

@code {
    private IEnumerable<LocoSchedule>? Items { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var result = await DataService.GetLocoSchedulesAsync(Constants.LayoutId);
        if (result.statusCode.IsSuccess()) Items = result.items.Cast<LocoSchedule>();
    }
}
