@page "/stationinstructions"
@layout PrintLayout
@inject IStringLocalizer<App> Localizer
@inject PrintedReportsService DataService

@if (Items is null)
{
    <p>Loading...</p>
}
else if (Items.Count() == 0)
{
    <p>No items</p>

}
else
{
    foreach (var item in Items)
    {
        <TableTemplate Items="item.Calls.SelectMany(c => c.CallTimes()).OrderBy(c => c.SortTime())">
            <Caption>@Localizer["Trains"]</Caption>
            <HeaderTemplate>
                <th>@Localizer["TrainNumber"]</th>
                <th>@Localizer["Time"]</th>
                <th>@Localizer["Notes"]</th>
            </HeaderTemplate>
            <RowTemplate>
                <td></td>
            </RowTemplate>
        </TableTemplate>

    }
}


@code {
    IEnumerable<StationInstruction>? Items;

    protected override async Task OnParametersSetAsync()
    {
        var result = await DataService.GetStationInstructions(Constants.LayoutId);
        if (result.statusCode.IsSuccess())
        {
            Items = result.items;
        }
    }
}
