@page "/trainstartlabels"
@layout PrintLayout
@inject NavigationManager Navigator
@inject IStringLocalizer<App> Localizer
@inject Services.PrintedReportsService DataService


@if (Data is null)
{
    <CreatingReport />
}
else
{
    @foreach (var itemsPerPage in Data.ItemsPerPage(5))
    {
        <div class="pagebreak">
            @foreach (var departure in itemsPerPage)
            {
                <TrainDepartureTrackLabel Departure="@departure"></TrainDepartureTrackLabel>
            }
        </div>
    }
}

@code {
    private IEnumerable<TrainDeparture>? Data;
    private string? SelectedOperatorNames;
    private string? SelectedCountryCodes;

    protected async override Task OnInitializedAsync()
    {
        var layoutResult = await DataService.GetLayoutAsync();
        if (layoutResult.statusCode.IsSuccess())
        {
            SetQueryStringParameters();
            var result = await DataService.GetTrainDeparturesAsync(layoutResult.item!.Id);
            if (result.statusCode.IsSuccess())
            {
                Data = Filtered(result.items);
            }            
        }
    }

	IEnumerable<TrainDeparture> Filtered(IEnumerable<TrainDeparture> items) => 
        items.Where(i => (SelectedOperatorNames.IsEmpty() || i.Loco.OperatorName.EqualsAny(SelectedOperatorNames)) && (SelectedCountryCodes.IsEmpty() || i.CountryCode.EqualsAny(SelectedCountryCodes)));

    void SetQueryStringParameters()
    {
        var q = Navigator.QueryString();
        SelectedOperatorNames = q["operator"];
		SelectedCountryCodes = q["country"];
    }
}
