@page "/trainstartlabels"
@layout PrintLayout
@inject IStringLocalizer<App> Localizer
@inject Services.PrintedReportsService DataService
@inject IOptions<AppSettings> Options


@if (Data is null)
{
    <CreatingReport />
}
else
{
    @foreach (var itemsPerPage in Data.ItemsPerPage(10))
    {
        <div class="pagebreak">
            @foreach (var departure in itemsPerPage)
            {
                <TrainDepartureTrackLabel Departure="@departure"></TrainDepartureTrackLabel>
            }
        </div>
    }
}

@code {
    private IEnumerable<TrainDeparture>? Data;

    protected async override Task OnInitializedAsync()
    {
        var settings = Options.Value;
        var result = await DataService.GetTrainDeparturesAsync(settings.LayoutId);
        if (result.statusCode.IsSuccess())
        {
            Data = result.items;
        }
    }
}
