@page "/trainstartlabels"
@layout PrintLayout
@inject NavigationManager Navigator
@inject IStringLocalizer<App> Localizer
@inject Services.PrintedReportsService DataService


@if (Data is null)
{
    <CreatingReport />
}
else
{
    @foreach (var itemsPerPage in Data.ItemsPerPage(5))
    {
        <div class="pagebreak">
            @foreach (var departure in itemsPerPage)
            {
                <TrainDepartureTrackLabel Departure="@departure"></TrainDepartureTrackLabel>
            }
        </div>
    }
}

@code {
    private IEnumerable<TrainDeparture>? Data;
    private string? SelectedOperatorNames;

    protected async override Task OnInitializedAsync()
    {
        var layoutResult = await DataService.GetLayoutAsync();
        if (layoutResult.statusCode.IsSuccess())
        {
            SetQueryStringParameters();
            var result = await DataService.GetTrainDeparturesAsync(layoutResult.item!.Id);
            if (result.statusCode.IsSuccess())
            {
                Data = SelectedOperatorNames.HasValue() ? result.items.Where(i => i.Loco.OperatorName.EqualsAny(SelectedOperatorNames)): result.items;
            }            
        }
    }

    void SetQueryStringParameters()
    {
        var q = Navigator.QueryString();
        SelectedOperatorNames = q["operator"];
    }
}
