@layout PrintLayout
@page "/waybills"
@inject HttpClient Http
@inject Services.PrintedReportsService DataService
@inject Services.LanguageService LanguageService

@using Tellurian.Trains.Planning.App.Client.Components

@if (Items != null)
{
    @foreach (var itemsPerPage in Items.ItemsPerPage(10))
    {
        <div class="pagebreak">
            @foreach (var item in itemsPerPage)
            {
                <WaybillCard Item="@item" LanguageLabels="@LanguageLabels"></WaybillCard>
            }
        </div>
    }
}

@code {

    private IEnumerable<Waybill>? Items { get; set; }
    private IEnumerable<LanguageLabels>? LanguageLabels { get; set; }

    protected override async Task OnInitializedAsync()
    {
        LanguageLabels = await LanguageService.GetWaybillLabels();
        var result = await DataService.GetWaybillsAsync(Constants.LayoutId);
        if (result.statusCode.IsSuccess()) Items = result.items;
    }
}
