@layout PrintLayout
@page "/driverdutiesbooklet"
@using Tellurian.Trains.Planning.App.Client.Components

@inject HttpClient Http
@if (Booklet != null && Pages != null)
{
    @for (var i = 0; i < Pages.Length; i += 2)
    {
        <div class="pagebreak">
            @if (PageLeft(i).IsBlank)
            {
                <BlankDutyPage PageNumber="PageLeft(i).Number"></BlankDutyPage>
            }
            else if (PageLeft(i).IsFront)
            {
                <DutyFrontPage PageNumber="PageLeft(i).Number" Item="PageLeft(i).Duty"></DutyFrontPage>
            }
            else if (PageLeft(i).IsPart)
            {
                <DutyPartPage PageNumber="PageLeft(i).Number" Item="PageLeft(i).DutyPart" Duty="PageLeft(i).Duty"></DutyPartPage>
            }
            @if (PageRight(i).IsBlank)
            {
                <BlankDutyPage PageNumber="PageRight(i).Number"></BlankDutyPage>
            }
            else if (PageRight(i).IsFront)
            {
                <DutyFrontPage PageNumber="PageRight(i).Number" ScheduleName="@Booklet.ScheduleName" Item="PageRight(i).Duty"></DutyFrontPage>
            }
            else if (PageRight(i).IsPart)
            {
                <DutyPartPage PageNumber="PageRight(i).Number" Item="PageRight(i).DutyPart" Duty="PageRight(i).Duty"></DutyPartPage>
            }
        </div>
    }
}


@code
{
    private DriverDutyBooklet? Booklet;
    private DutyPage[] Pages = Array.Empty<DutyPage>();
    private int pageNumber;

    override protected async Task OnInitializedAsync()
    {
        Booklet = await GetDuties("Geflemodul");
        Pages = Booklet.Duties.GetAllDriverDutyPagesInBookletOrder().ToArray();
    }

    private string PagebreakCss()
    {
        pageNumber++;
        return pageNumber % 2 == 0 ? "pagebreak" : "";
    }

    private DutyPage PageLeft(int i) => Pages[i];
    private DutyPage PageRight(int i) => Pages[i + 1];



    private async Task<DriverDutyBooklet> GetDuties(string scheduleName) =>
     await Http.GetFromJsonAsync<DriverDutyBooklet>($"api/driverduties?scheduleName={scheduleName}");

}
