@layout PrintLayout
@page "/locoschedules"
@inject HttpClient Http

@using Tellurian.Trains.Planning.App.Client.Components

@if (Items != null)
{
    @foreach (var itemsOnPage in Items.ItemsPerPage(10))
    {
    <div class="pagebreak">
        @foreach (var item in itemsOnPage)
        {
            <VehicleScheduleCard Item="@item"></VehicleScheduleCard>
        }
    </div>
    }
}

@code {
    private IEnumerable<LocoSchedule>? Items { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Items = await GetItemsAsync(Constants.TestScheduleName);
    }

    private async Task<IEnumerable<LocoSchedule>> GetItemsAsync(string timetableName) =>
        await Http.GetFromJsonAsync<IEnumerable<LocoSchedule>>($"api/locoschedules?scheduleName={timetableName}");
}
