@layout PrintLayout
@page "/trainsetschedules"
@inject HttpClient Http

@using Tellurian.Trains.Planning.App.Client.Components

@if (Items != null)
{
    @foreach (var itemsOnPage in Items.ItemsPerPage(10))
    {
        <div class="pagebreak">
            @foreach (var item in itemsOnPage)
            {
                <PrintedVehicleSchedule Item="@item" CrossLineColor="lightgreen"></PrintedVehicleSchedule>
            }
        </div>
    }
}

@code {
    private IEnumerable<TrainsetSchedule>? Items { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Items = await GetItemsAsync("test");
    }

    private async Task<IEnumerable<TrainsetSchedule>> GetItemsAsync(string timetableName) =>
        await Http.GetFromJsonAsync<IEnumerable<TrainsetSchedule>>($"api/trainsetschedules?name={timetableName}");
}
