
.body {
    margin: 0px;
    padding: 0px;
}

.duty {
    /*    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
*/
}


.pagebreak {
    display: flex;
    flex-wrap: wrap;
}

table {
    border-collapse: collapse;
}




@media print {
    @page {
        size: landscape;
    }

    .pagebreak {
        clear: both;
        page-break-after: always;
    }

    .pagebreak-hard {
        clear: both;
        page-break-after: always;
    }
}

@media stationtrainorder {
    @page {
        size: portrait;
    }

    .pagebreak {
        clear: both;
        page-break-after: always;
    }

    .pagebreak-hard {
        clear: both;
        page-break-after: always;
    }
}


.departure {
    height: 46mm;
    width: 48mm;
    font-weight: bold;
    font-size: 12pt;
    text-align: center;
}

    .departure.station {
        height: auto;
        font-size: 12pt;
        padding-top: 2mm;
    }

    .departure.loco {
        height: auto;
        font-size: 12pt
    }

    .departure.time {
        height: auto;
        color: maroon;
        font-size: 18pt;
        line-height: 22pt;
    }

    .departure.train {
        height: auto;
        font-size: 18pt;
        color: darkcyan;
        line-height: 22pt;
    }

    .departure.days {
        height: auto;
        font-size: 12pt;
        color: darkcyan;
    }

.stationtrainorder {
    margin-top:0px;
}

    .stationtrainorder tr {
        border-bottom: 1px solid lightgray;
    }
    .stationtrainorder td {
        text-align: center;
        padding: 4px 2px 4px 2px;
        font-size: 9pt;
    }
    .stationtrainorder h1 {
        background-color: white;
        color: black;
        margin: 0px
    }
    .stationtrainorder .day {
        border-left: 1px solid black;
        width: 7mm;
    }
    .stationtrainorder .col {
        border-left: 1px solid lightgray;
    }

