
.body {
    margin: 0px;
    padding: 0px;
}

.duty {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


.pagebreak {
    display: flex;
    flex-wrap: wrap;
}

table {
    border-collapse: collapse;
}




@media print {
    @page {
        size: landscape;
    }

    .pagebreak {
        clear: both;
        page-break-after: always;
    }

    .pagebreak-hard {
        clear: both;
        page-break-after: always;
    }
}


.departure {
    height: 46mm;
    width: 48mm;
    font-weight: bold;
    font-size: 12pt;
    text-align: center;
}

    .departure.station {
        height: auto;
        font-size: 12pt;
        padding-top: 2mm;
    }

    .departure.loco {
        height: auto;
        font-size: 12pt
    }

    .departure.time {
        height: auto;
        color: maroon;
        font-size: 18pt;
        line-height: 22pt;
    }

    .departure.train {
        height: auto;
        font-size: 18pt;
        color: darkcyan;
        line-height: 22pt;
    }

    .departure.days {
        height: auto;
        font-size: 12pt;
        color: darkcyan;
    }

