
.print {
    margin: 0cm 0cm 0cm 0cm;
}

    .print.creatingreport {
        padding: 1cm;
        font-size: 18pt;
        font-weight: bold;
        text-align: center;
    }

.pocket {
    font-weight: 500;
    font-size: 11pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

    .pocket.frame {
        width: 52mm;
        height: 92mm;
        padding: 0pt;
        margin: 0pt;
        border-color: gainsboro;
        border-width: 1px;
        border-style: solid;
        padding: 2pt;
        display: inline-block;
    }

.schedule {
    font-weight: 500;
}

    .schedule.header {
        line-height: 17pt;
        font-size: 13pt;
    }

    .schedule.item {
        line-height: 14pt;
        font-size: 11pt;
    }

.waybill {
    line-height: 14pt;
    font-weight: 600;
}

    .waybill.label {
        font-size: 7pt;
    }

    .waybill.destination {
        background-color: lightyellow;
    }

    .waybill.box {
        height: 12mm;
        border: 2px solid red;
    }

    .waybill.name {
        font-weight: bold;
        font-size: 14pt;
        line-height: 18pt;
        width: 48mm;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .waybill.shipper {
        font-weight: bold;
        font-size: 12pt;
        width: 48mm;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .waybill.flag {
        vertical-align: text-bottom;
    }

    .waybill.item {
        font-weight: bold;
        font-size: 12pt;
    }

    .waybill.instruction {
        font-weight: normal;
        font-size: 11pt;
    }

.pocket.header {
    font-size: 11pt;
    line-height: 13pt;
    font-weight: 600;
}

.pocket th {
    font-style: italic;
    font-size: 11pt;
    font-weight: 500;
}

.pocket tr {
    height: 16pt;
}

.pocket.alert {
    margin: 0px;
    padding: 0px;
    font-size: 11pt;
    line-height: 12pt;
    color: red;
}

.pocket svg {
    z-index: -2;
    position: absolute;
    height: 92mm;
    width: 52mm;
}

.duty {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

    .duty.content h1 {
        font-size: 24pt;
        font-weight: bold;
    }

    .duty.content h2 {
        font-size: 14pt;
        font-weight: bold;
        line-height: 16pt;
    }

    .duty.frame {
        width: 148.1mm;
        height: 209.5mm;
        padding: 0pt;
        margin: 0pt;
        border-color: aliceblue;
        border-width: 1px;
        border-style: solid;
        padding: 2pt;
        display: inline-block;
    }

    .duty.content {
        padding: 0.5cm;
        margin: 0cm;
        height: 198mm;
    }

        .duty.content.frontpage {
            text-align: center;
            font-size: 28pt;
        }

    .duty.schedulename {
        font-weight: 900;
        color: darkolivegreen;
    }

    .duty.number {
        line-height: 4cm;
        font-weight: 900;
        color: cadetblue;
        text-align: center;
        font-size: 144pt;
    }

    .duty.pagenumber {
        padding: 0pt;
        margin: 0pt;
        height: 8mm;
        vertical-align: text-bottom;
        text-align: center
    }

    .duty.continuenextpage {
        text-align: center;
        font-size: 12pt;
        font-weight: bold;
        color: red;
    }

    .duty.ends {
        text-align: center;
        font-size: 12pt;
        font-weight: bold;
    }

    .duty.call {
        vertical-align: text-top;
        font-family: 'Times New Roman', Times, serif;
        font-size: 12pt;
    }

        .duty.call.part {
            color: black;
            border-bottom: solid 1px black;
        }

        .duty.call.notpart {
            color: darkgray;
            border-bottom: solid 1px darkgray;
            text-decoration: line-through;
        }

        .duty.call.shortnote {
            white-space: nowrap;
            display: inline-block;
            vertical-align: top;
        }

        .duty.call.longnote {
            white-space: normal;
            display: inline-block;
            vertical-align: top;
        }

.track {
    width: 100%;
    height: 14mm;
    line-height: 14mm;
    font-size: 4mm;
    font-weight: bold;
    padding: 0px 3mm 0px 3mm;
    border: 1px solid lightgray;
}

    .track.number {
        background-color: white;
        color: black;
        padding: 1mm 1mm 1mm 1mm;
        margin: 0px 3px 0px 3px;
        border: none;
    }

    .track.destination {
        padding: 1mm 2mm 1mm 2mm;
        margin: 0px 3px 0px 3px;
        border: none;
    }

    .track.loco {
        background-color: red;
        color: white;
        padding: 1mm 1mm 1mm 1mm;
        margin: 0px 3px 0px 3px;
        border: none;
    }

.graphictimetable {
}

    .graphictimetable.heading {
        text-align: center;
        font-weight: bold;
        font-size: 16pt
    }

    .graphictimetable.station {
        font-weight: bold;
        font-size: 12pt;
    }

    .graphictimetable.hour {
        font-weight: bold;
        font-size: 12pt;
    }

    .graphictimetable.train {
        font-weight: bold;
        font-size: 9pt;
        line-height: 12pt;
    }

    .graphictimetable.track {
        font-size: 7pt;
    }

.pagebreak {
    display: flex;
    flex-wrap: wrap;
}


@media print {
    @page {
        size: landscape
    }

    .pagebreak {
        clear: both;
        page-break-after: always;
    }
}
