@if (Item != null)
{
    <svg>
        <line style="stroke:lightgreen;stroke-width:5" x1="51mm" y1="0" x2="0mm" y2="91mm" />
    </svg>
    <div>
        <div class="pocket header">
            <div>Trainset:&nbsp;@Item.Number</div>
            <div>Days:&nbsp;@Item.Days</div>
            @if (!string.IsNullOrWhiteSpace(Item.Operator))
            {
                <div>Days:&nbsp;@Item.Operator</div>
            }
            @if (!string.IsNullOrWhiteSpace(Item.Class))
            {
                <div>Class:&nbsp;@Item.Class</div>
            }
        </div>
        <div class="pocket schedule">
            <table width="100%" style="border-collapse: collapse">
                <thead>
                    <tr style="border-bottom: 1px solid gray">
                        <th>Train</th>
                        <th colspan="2">From</th>
                        <th colspan="2">To</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Item.TrainParts != null) foreach (var part in Item.TrainParts)
                        {
                            <tr style="border-bottom: 1px solid gray">
                                <td>@part.TrainNumber</td>
                                <td>@part?.FromDeparture?.StationSignature</td>
                                <td>@part?.FromDeparture?.Time</td>
                                <td>@part?.ToArrival?.StationSignature</td>
                                <td>@part?.ToArrival?.Time</td>
                            </tr>
                        }
                </tbody>
            </table>
        </div>
        <div class="pocket alert">
            <span>@Item.Note</span>
            @if (Item.TurnForNextDay)
            {
                <span>Turn for next day!</span>
            }
        </div>
    </div>
}

@code {
    [Parameter]
    public VehicleSchedule? Item { get; set; }
}
