@using Microsoft.Extensions.Options

@inherits LayoutComponentBase
@inject Services.PrintedReportsService DataService
@inject IOptions<AppSettings> Options

<div class="print" style="font-family: @FontFamily">
    @Body
</div>

@code {
    const string DefaultFontFamily = "'Helvetica Neue', Helvetica, Arial, sans-serif;";
    string? FontFamily;

    protected override async Task OnInitializedAsync()
    {
        var result = await DataService.GetLayoutAsync();
        if (result.statusCode.IsSuccess())
        {
            FontFamily = result.item!.FontFamily ?? DefaultFontFamily;
        }
    }
}
